:root {
  --color-primary: #8d8ee1;
  --color-secondary: #56cdd0;
  --color-secondary-pink: #ec6383;
  --color-accent: #69d056;
  --color-accent-secondary: #c6c6c6;
  --color-accent-tertiary: #6f6f6f;
  --color-accent-grey: #f0f0f0;
  --font-primary: "Muli", sans-serif;
}
