.grey-bg {
  background-color: var(--color-primary);
  filter: drop-shadow(2px 2px 10px rgba(0, 0, 0, .5));
}

ul.breadcrumb li {
  display: inline;
  color: #fff;
}

ul.breadcrumb li a {
  color: #fff;
  text-decoration: none;
}

ul.breadcrumb li a:hover {
  color: var(--color-secondary-pink);
  text-decoration: underline;
}
