.grey-bg {
  background-color: var(--color-accent-grey);
  filter: drop-shadow(2px 2px 10px rgba(0, 0, 0, .5));
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}
